body{
    background: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


#netBar{
    bottom: 15px;
    width: 700px;
    height: 22px;
    
    position: relative;
    margin: 0 auto;
    line-height: normal;
    
    
    
}
.netTop{

    color: #c6c6c6;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-left: 10%;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#topBar{
    top: 18px;
    background-color: #1b1b1b;
    height: 60px;
    border-top:1px solid #fff;
    border-radius: 10px 10px 0 0;
    position: fixed;
    width:98%;
    z-index: 2;
    min-width: 1140px;
    margin: auto;
    left: 1%;
}

#topContainer{
    width: 900px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    line-height: normal;
}

.topItem{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    display: inline-block;
}

#searchForm.topItem{
    display: inline-block;
    position: relative;
    right: 20px;
    width: 640px;
    top: -20px;
}

#fs-nf{
    position: relative;
    margin: 0;
    padding: 0;
    left: 0px;
    border: none;
    background-color: #252525;
    height: 22px;
    top: 15px;
    border-radius: 10px
}

#searchContain{



}
#iconSearch::before{
    content: '🔍';
}

#iconSearch{
    top: 3px;
    left: 10px;
    position: relative;
}
#searchInput{
    left: 40px;
    bottom: 15px;
    width: 80%;
    position: relative;
    border: none;
    color: rgb(255,255,255);
    background-color: #252525;
    font-size: 13px;
    padding: 2px 5px 2px 0;
    
    outline: 0;
}



#topNav{
    background-color: #1b1b1b;
    left: 1%;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    width:98%;
    min-width: 1140px;
    margin: auto;
    z-index: 2;
    top: 78px;
    border-bottom:1px solid #fff;
}

#troll{
    width: 300px;
    height: 100px;
    position: relative;
    top: -9px;
    left: 40%;
}
#topNavContainer{
    top: 12px;
    left: 30px;
    width: 1200px;
    height: 22px;
    
    position: relative;
    margin: 0 auto;
    line-height: normal;

}

.navTop{
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-left: 5%;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
}

#menuContainer{
    position: fixed;
    border-radius: 10px;
    left: 1%;
    top: 130px;
    height: 1000px;
    background-color: #1b1b1b;
    width: 200px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    
}

#menuGrid{
    display: grid;
    position: relative;
    grid-template-rows: 30px 1fr;
    height:100%;
}

#menuGridList{
    
    display: grid;
    padding-left: 5px;
    grid-template-rows: repeat(2,30px);
    position: relative;
    text-align: left;
    align-items: center;
}

.sideMen{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
#menuHeader{
    align-items: center;
    display: grid;
    font-size: 20px;
    margin: auto;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;

}
#main{
    display: grid;
    padding-left: 1%;
    padding-right: 0.5%;
    position: relative;
    height: 100%;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    
    
    
}

#feed{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    border-radius: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    min-width: 900px;
    background-color: rgba(46, 44, 44, 0.356);
}

#postOne{
    position: relative;
  
    min-height: 793px;
    width: 100%;
    
}

#footer{
    height: 200px;
    width: 100%;
    position: relative;
    background-color: #1b1b1b;
    border-radius: 10px;
    
}

#footerContainer{
    margin: auto
    ;
    
    position: relative;
    width: 200px;
}

.footerItem{
    
   
    
}

#footerLogo{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 60px;
    right: 100px;
    align-items: center;
    top: 70px;
    margin: auto;
}

 #footerText{
    display: inline-block;
    position: relative;
    left: 100px;
    width: 200px;
    font-size: 12px;
    font-weight: 700;
    margin: auto;
}
.postTitle{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700px;
    text-transform: uppercase;
}

.postDate{
    position: relative;
    text-align: left;
    padding-right: 10px;
    font-size: 20px;
    float: right;
    bottom: 23px;
}

#postOnePic{
    width: 312px;
    height: 312px;
    position: relative;
    padding-bottom: ;
    top: 20px;
    left: 85px;
    float: right;
    padding-bottom: 20px;
    
}

.postBody{
    padding: 20px 20px 20px 10px ;
    text-align: left;
}